<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <%=error%>
    <h1>edit obat</h1>
    <form action="/obats/edit/<%=obat.id%>" method="post">
            Nama Obat:<br>
            <input type="text" name="namaObat" value="<%= obat.namaObat%>"> <br>
            Implikasi Obat:<br>
            <select name="implikasiObat">
              <option value="0">TIDAK ADA</option>
              <% dataObats.forEach(function(row) {%>
              <option value="<%= row.id %>"><%= row.namaObat %></option>
              <% }) %>
            </select>

            <input type="submit" value="Submit">
          </form>
          <br>
          <a href="/obats">back</a>
  </body>
</html>
