<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/navigation %>
    <h1>Users</h1>
    <a href="/users/add">Add User</a>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>

      <% let count = 1 %>
      <% dataUsers.forEach(function(user) {%>
      <tr>
        <td><%= count %></td>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <a href="/users/edit/<%= user.id %>">Edit</a>
          |
          <a href="/users/delete/<%= user.id %>" onclick="return confirm(`Anda yakin ingin menghapusnya?`)">Delete</a>
        </td>
      </tr>
      <% count++ %>
      <%})%>
    </table>

  </body>
  </div>
</html>
